.wrapper {
  display: flex;
  justify-content: flex-end;
  & div:first-child{
    margin-right: 10px;
  }
  .slectWrapper{
    .selectLimit {
      div {
        min-width: 1em;
        margin-left: .5em ;
      }
    }
  }

}