#drawer {
  z-index: 1001;
  width: 250px;
  display: flex;
  justify-content: space-between;
  &::after {
    content: none;
  }
  .drawerItem {
    position: relative;
    display: flex;
    padding: .8em;
    font-size: 1.1em;
    color: #fff;
    span {
      margin-left: 1em;
    }
    &:hover {
      color: rgb(103, 135, 214);
      background: #fff;
    }
  }
  .activeItem {
    background: #fff;
    color: rgb(81, 128, 247);
  }
  .activeItem::after{
    content: "";
    width: 2px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgb(55, 101, 216);
  }
}